@model TestWebApp.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.AuthTitle = "Sign In";
    var error = ViewBag.Msg as string;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "md-float-material" }))
{
    @Html.AntiForgeryToken()
    if (!string.IsNullOrEmpty(error) && error.Length > 0)
    {
        <div class="alert alert-danger" role="alert">
            @Html.Raw(error)
        </div>
    }


   @* <div class="input-group">*@
        <input type="email" id="Email" name="Email" class="form-control mb-8 portal-log-form" placeholder="Email Address" required="">
        <span class="md-line"></span>

    @*<div class="input-group">*@
        <input type="password" class="form-control mb-4 portal-log-form" placeholder="Password" id="Password" name="Password" required="">
        <span class="md-line"></span>
    @*</div>*@
    @*<div class="row m-t-25 text-left">
        <div class="col-sm-12 col-xs-12 forgot-phone">
            <a href="@Url.Action("ForgotPassword", "Home")" class="text-right f-w-600 text-inverse text-white"> Forgot Your Password?</a>
        </div>
    </div>*@
    <div class="row m-t-30">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success btn-sm btn-md btn-block waves-effect text-center" style="font-size:13px;">Sign in</button>
        </div>
    </div>
    <div class="row m-t-25 text-left">
        <div class="col-sm-12 col-xs-12 forgot-phone">
            <a href="@Url.Action("Register", "Home")" class="text-right f-w-600 text-inverse text-white"> Sign Up Here?</a>
        </div>
    </div>

}

